<%- include("layout/header1") %>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto mt-4">
                <div class="card shadow">
                    <div class="card-header bg-primary">
                        <h3 class="text-light">Add New Artist</h3>
                    </div>
                    <div class="card-body p-4">
                        <form action="/add_artist" method="post" id="add-form"  enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="name">Artist Name</label> <input type="text" name="a_name"
                                    class="form-control form-control-19" placeholder="Enter name" />
                            </div>
                            <div class="mb-3">
                                <label for="date">Date of Birth</label>
                                <input type="Date" name="Dob" class="form-control form-control-19" />
                            </div>
                            <div class="mb-3">
                                <label for="name">BIO</label> <input type="text" name="bio"
                                    class="form-control form-control-19" placeholder="description" required />
                            </div>
                            <div class="mb-3 d-grid">
                                <input type="submit" name="submit" value="Add" class="btn btn-primary btn-lg" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include("layout/footer") %>